@font-face{
   font-family: Roboto;
 src: url(/fonts/Roboto/Roboto-Black.ttf);
}
@font-face{
  font-family: IBM Plex Sans;
  src: url(/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}
@font-face{
  font-family: IBM Plex Sans;
  src: url(/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
@font-face{
  
  src: url(/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}
@font-face{
  font-family: Viga;
  src: url(/fonts/Viga/Viga-Regular.ttf);
}
@font-face{
  font-family: IBM Plex Sans ;
  src: url(/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  font-weight: bold;
}
@font-face{
  
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face{
  font-family: SecularOne;
  src: url(/fonts/Secular_One/SecularOne-Regular.ttf);
}

main{
  background-color: #fff;
}

h2{

  font-family: Roboto, sans-serif;
  color: #343434;
  font-size: 30px;
}
h3{

  font-family: Roboto, sans-serif;
  color: #343434;
  font-size: 25px;
}
h4{

  font-family: Roboto, sans-serif;
  color: #343434;
  font-size: 20px;
}
.linha{
  background-color: #B95922;
  max-width: 79%;
  text-align: center;
}

label{
  font-family: Roboto, Black;
  color: #343434;
  font-size: 16px
}
.required:after {
  content:" *"; 
  color: red;
  font-size: 18px;

}
.scroll{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrolltreino{
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.altura{
  height: 100vh;
}
.btnlogin{
   font-family:IBM Plex Sans;
  font-size: 18px;
  background-color: #B95922;
  color: #FFFFFF;
}

.btnlaranja{
  background-color: #B95922;
  color: #F1F1F1;
  font-family: IBM Plex Sans, Regular; 
}
.btnlaranja:hover{
  background-color: #525CE0E6;
  color: #fff;
}
.btnazul{
  background-color: #060A4B;
  color: #FFFFFF;
  font-family:IBM Plex Sans, Medium;
  font-size: 15px
}
.btnazul:hover{
  background-color: #525CE0E6;
  color: #fff;
}
.adcionar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #242B8C;

}
.fontvigor{
  font-family: Viga, sans-serif;
  font-size: 30px;
  color: #343434;
}
.ficha{
  color: #363636;
  font-family: IBM Plex Sans, Regular; 
  font-size: 18px;
}
.fontth{
  color: #363636;
  font-family: IBM Plex Sans, Bold;
  font-size: 18px;
  font-weight: bold;
}
.fonttd{
  color: #363636;
  font-family: IBM Plex Sans, Bold;
  font-size: 16px;
  font-weight: bold;
}
.playicon{
  color: #B95922;
}


/* MENU APP*/
.nav-app{
  background-color: #fff;
  
}
.link-nav{
  padding: 10px;
}
.link-nav i{
  font-size: 20px;
}
/* MENU #242B8C*/

.colormenu{
  background-color: #060A4B;
  
}
.linkmenu ul li a{
  font-family:IBM Plex Sans, Medium;
  font-size: 16px;
}
.linkmenud a{
  font-family:IBM Plex Sans, Medium;
  font-size: 16px;
}
.logincolor{
  color: #B95922;
}
#navbar a:hover {
  background-color: #525CE0E6;
  color: black;
  border-radius: 12px
}
.dropdown-menu a{
  padding: .25rem 1rem;
}
.fotomenu{
  max-width: 40px;
  max-height:40px;
}

/* PERFIL */
.nomealuno{
  font-family: Roboto, Black;
  color: #343434;
  font-size: 16px
} 

.Nomeperfil{
  font-family: BM Plex Sans, SemiBold;
  color: #363636;
  font-size: 22px;
}
.descriperfil{
  font-family: IBM Plex Sans, Regular;
  color: #363636;
  font-size: 18px;
}

.fotoaluno{
    width: 170px;
    height: 170px;
  }

.input-file-container {
  position: relative;
} 
.input-file-trigger {
  transition: all .4s;
  cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
 .input-file:hover + .input-file-trigger,
 .input-file:focus + .input-file-trigger,
 .input-file-trigger:hover,
 .input-file-trigger:focus {
  background: #525CE0E6;
  color: #fff;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
 .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}


.input-file-container canvas{max-width:100%; display:none}




 .table-sm td, .table-sm th {
    padding: .1rem !important;
  }
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #daeadd4d;
    border-radius: 20px
    
    
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}



/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
   
}
.profile-content>form{
    padding : 0px 30px;
}
table>tbody>tr>td{
    padding: 15px 0 !important;
}
table>tbody>tr:hover{
    background-color: #ececff;
    cursor: pointer;
}
.profile-img{
    text-align: center;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #1580ecb3;
    border-radius: 20px;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;

}



/* DESCRIÇÃO ACADEMIA */

.textoapp{
  font-size: 45px; 
  color: #fff; 
  font-family: SecularOne, sans-serif;
  text-shadow: 0 0 5px #000; 
  border-radius: 15px 50px; 
  background-color: ;
  border: 1px solid #B95922;
}

.textacademia{
  color: #B95922;
  font-family: Cooper, Black;
  font-size: 2rem;
  text-align: center;

}
.headerimg{
  background-image: url(img/img.jpg);
  background-size: auto;

}
.box {
  -webkit-box-shadow: 6px 6px 10px #B95922; 
     -moz-box-shadow: 6px 6px 10px #B95922;
          box-shadow: 6px 6px 10px #B95922;  
}

/* SECTION MODALIDADES */

.modalidades {
  padding: 60px 0 30px 0;
}

.imgmodalidades{
  max-width: 300px;
  height: 250px;
  border-radius: 5px

}
.pmodalidades{
  max-width: 300px;

}
.fontmodalidades{
  font-family: IBM Plex Sans, Regular;
  color: #363636;
  font-size: 20px;
}
.section-modalidades {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-modalidades h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #343434;
}
.valorplanos{
   font-family: Roboto, Black;
  color: #343434;
  font-size: 16px

}
.valorplanos1{
   font-family: Roboto, Black;
  color: #fff;
  font-size: 18px

}
.preco{
    font-family: IBM Plex Sans, Regular;
  color: #363636;
  font-size: 12px;
}
.preco1{
    font-family: IBM Plex Sans, Regular;
  color: #fff;
  font-size: 12px;
}


/* NADA */

.fakeimg {
    height: 200px;
    background: #aaa;
  }
  

/* PLANO */

.planosh2{
  font-family: Roboto, Black;
  color: #343434;
  font-size: 30px;
  letter-spacing: 3px
}
.descplanos{
  font-family: IBM Plex Sans, Regular;
  font-size: 16px;
  color: #363636;
}

.colorplanos{
  background-color: #242B8C;
}


/* FOOTER */

.footer{
  background-color: #060A4B;

}
.pfooter{
  font-family: Roboto, Black;
  font-size: 20px;
  color: #FFFFFF; 
}
.p1footer{
  font-family: IBM Plex Sans, Regular;
  color: #F1F1F1;
  font-size: 15px
}

.iconredes{
  color: #B95922;

}

.smoothscroll-top {
position:fixed;
opacity:0;
visibility:hidden;
overflow:hidden;
text-align:center;
z-index:99;
background-color:#B95922;
color:#fff;
width:47px;
height:44px;
line-height:44px;
right:25px;
bottom:-25px;
padding-top:2px;
border-radius:5px;
transition:all .5s ease-in-out;
transition-delay:.2s;
}

.smoothscroll-top:hover {
background-color: #060A4B;
color:#fff;
transition:all .2s ease-in-out;
transition-delay:0;
}

.smoothscroll-top.show {
visibility:visible;
cursor:pointer;
opacity:1;
bottom:25px;
}

.smoothscroll-top i.fa {
line-height:inherit;
}

/* ICONES */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');

}


.glyph{
    position: relative;
    right: -92px;
    top:2px;
    pointer-events: none; 
    font-family: IBM Plex Sans, Regular;
    color: #F1F1F1;
    font-size: 20px;
}

.button{
    padding-right: 20px;
}

/*  Login   */
.login-form {
    max-width: 360px;
    max-height: 400px;
    margin: 50px auto;
  }
    .login-form form {        
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
       font-family: Roboto, Black;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
  .input-group-addon .fa {
        font-size: 18px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 40px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}




@media (min-width: 1270px) {
  .search-nm .breadcrumbs, .nav-quaternary.nav-quinary {
    padding-top: 190px !important;
    }
    .profile-sidebar{
     
    }
    .profile-content{
    
    }
  }

  @media (max-width: 770px) and (min-width: 578px) {
  .foto, .botoes {
    margin-left: 65px !important;
    }
    .textoapp{
      font-size: 40px !important;
    }
     .contperfil{
        max-width: 100%;
      }
  }

  @media (max-width: 991px) and (min-width: 573px) {
      .fotos, .botoes1 {
        margin-left: 65px !important;
      }
       .fotosins, .botoesins {
        margin-left: 80px !important;
      }

    }
  
    @media (max-width: 500px) {

  .textoapp{
      font-size: 40px ;
      padding: 3px;
    }
  .imgdono{
    margin-right: 80px;
    margin-left: 80px
  }
}